---
import BaseLayout from "@layouts/BaseLayout.astro";
import Prose from "@components/Prose.astro";
import NextPost from "@components/NextPost.astro";
const pageTitle = "404: Seite wurde nicht gefunden";
---

<BaseLayout title={pageTitle} is404Page={true}>
  <Prose>
    <div class="space-y-8 py-8">
      <header class="text-center space-y-4">
        <h1
          class="font-overpass-mono text-4xl text-gray-900 dark:text-[rgb(245,245,245)]"
        >
          {pageTitle}
        </h1>
      </header>

      <div class="w-full flex justify-center">
        <a
          href="/"
          class="bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-800 dark:hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded inline-block no-underline transition duration-300 ease-in-out text-center"
          data-astro-reload
        >
          Go to Home
        </a>
      </div>
    </div>
  </Prose>

  <NextPost collection={"posts"} />
</BaseLayout>
